* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 100px;
}

.button-o {
  border: 2px solid #507fe1;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  color: #507fe1;
  font-family: 'Proxima Nova Semibold', sans-serif;
  background-color: #fff;
  text-decoration: none;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 45px;
  border: none;
  background-color: #507fe1;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.button:hover {
  cursor: pointer;
}

.button-fitting {
  padding: 10px;
  text-transform: uppercase;
  font-size: 11px;
  color: #507fe1;
  background-color: #fff;
  border: none;
  height: 30px;
}

.button-add {
  background-color: #7c9fe8;
  text-transform: uppercase;
  padding: 10px;
  font-size: 11px;
  color: #fff;
  border: none;
  height: 30px;
}

.button-like {
  background-color: #507fe1;
  height: 30px;
  width: 30px;
  border: none;
}

.bg-secondary {
  background: #f1f1f1;
}

.input {
  height: 80px;
  width: 100%;
  border: 1px solid #dddddd;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label:before {
  background-color: #507fe1;
}

.checkbox-label {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-label:hover {
  cursor: pointer;
}

.checkbox-label:before {
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .button {
    font-size: 10px;
  }
  .button-o {
    font-size: 10px;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 24px;
  }
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 99;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

.navbar__phone {
  font-style: 19px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #262626;
}

.navbar__small-text {
  display: block;
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  width: 100%;
  left: 0;
  padding: 16px 0;
  background-color: #507fe1;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  opacity: 0;
}

.menu-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
}

.menu-button_line {
  display: block;
  width: 20px;
  height: 3px;
  background: #89a9eb;
  margin: 3px 0;
}

.logo__text {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.logo__description {
  display: block;
  font-size: 14px;
  color: #7b7b79;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu {
    top: 60px;
  }
  .menu-button {
    height: 60px;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    margin-bottom: 20px;
  }
}

.hero {
  background: #f1f1f1 url("../img/hero/hero-bg.jpg") no-repeat center top;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 270px;
  margin-top: 80px;
}

.hero__title {
  font-size: 30px;
  margin-bottom: 40px;
}

.hero__subtitle {
  display: block;
  margin-bottom: 67px;
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

@media (max-width: 991px) {
  .hero {
    background-size: 100%;
    background-position: top right;
  }
}

.offer {
  padding: 129px 0;
}

.offer-block {
  background: #fff url("../img/offer/form-bg.png") no-repeat center right;
  background-size: contain;
  -webkit-box-shadow: 0px 15px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 25px 0 rgba(0, 0, 0, 0.1);
  padding: 80px;
  margin-top: -200px;
}

.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-bottom: 20px;
}

.offer__subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}

.form__group {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.form__input {
  width: 100%;
  border-right-width: 0px;
}

.form__input:last-child {
  border-right-width: 1px;
}

.form__button {
  height: 80px;
  width: 100%;
}

@media (max-width: 1199px) {
  .offer-block {
    background-position: center right -120px;
  }
}

@media (max-width: 768px) {
  .offer-block {
    background: none;
    background-color: #fff;
    padding: 40px;
  }
  .offer__title {
    font-size: 20px;
  }
  .offer__subtitle {
    font-size: 15px;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__row-checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form__group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .form_input {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .form__row-checkbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form__checkbox {
    margin-bottom: 20px;
  }
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .features-block__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .features-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 50px;
  }
}

.catalog {
  background-color: #f5f6f8;
}

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__card {
  margin-bottom: 30px;
}

.catalog-card {
  max-width: 570px;
  position: relative;
  -webkit-box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
}

.catalog-card__buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-card__button {
  font-size: 11px;
  border: none;
  text-transform: uppercase;
  padding: 10px;
}

.catalog-card__tag {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(80, 127, 225, 0.6);
  padding: 10px;
}

.catalog-card__image {
  display: block;
}

.catalog__link {
  text-align: center;
  margin-top: 60px;
}

.catalog__link-more {
  display: inline-block;
  margin-bottom: 24px;
}

.catalog__description {
  display: block;
}

@media (max-width: 1199px) {
  .catalog-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog-card {
    max-width: 470px;
  }
}

.blog__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.blog__title {
  font-size: 24px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.blog__link-more {
  color: #507fe1;
  font-size: 16px;
}

.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-list__image {
  height: 200px;
  overflow: hidden;
}

.blog-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

.blog-list__card {
  margin-bottom: 20px;
}

.blog-card {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1199px) {
  .blog-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .blog-list__card {
    margin-right: 30px;
    margin-left: 30px;
  }
}

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-block__card {
  margin-bottom: 10px;
}

.price-card {
  background-color: #fff;
  position: relative;
}

.price-card__text {
  padding: 20px;
  font-size: 15px;
}

.price-card__title {
  margin: 0;
  font-weight: 400;
}

.price-card__cost {
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.price-card__pricetag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-card__button {
  text-align: center;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 80px;
  padding: 20px;
  padding-top: 0;
}

.price-card:hover .price-card__button {
  z-index: 99;
  bottom: -80px;
}

@media (max-width: 1199px) {
  .price-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price-block__card {
    margin: 20px;
  }
}

@media (max-width: 400px) {
  .price-block__card {
    margin: 10px;
  }
}

.step {
  position: relative;
  text-align: center;
}

.step__title {
  font-size: 18px;
}

.step:last-child::before {
  display: none;
}

.step:before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgba(126, 123, 120, 0.5);
  display: block;
  position: absolute;
  top: 25%;
  right: -63%;
}

.step__text {
  max-width: 160px;
  font-size: 14px;
  margin: auto;
  margin-bottom: 30px;
}

.steps {
  background-color: #f5f6f8;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .step {
    width: 33%;
  }
  .step::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .step {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */