.navbar
    position: fixed
    left: 0
    top: 0
    width: 100%
    background: #fff
    z-index: 99

    &-wrap
        display: flex
        justify-content: space-between
        align-items: center
    &__mobile, &__landline
        text-align: right
    &__phone
        font-style: 19px
        +bold
        display: block
        margin-bottom: 5px
        text-decoration: none
        color: $text-color
    &__small-text
        display: block
        font-size: 14px
        color: $text-color-light
        text-decoration: none
.menu
    position: fixed
    z-index: 0
    top: 80px
    width: 100%
    left: 0
    padding: 16px 0
    background-color: $primary
    color: #ffffff
    transition: 0.2s
    transform: translateY(-200%)
    opacity: 0
    &-active
        transform: translateY(0)
        opacity: 1
    &__nav
        display: flex
        align-items: center
        justify-content: space-around   
    &__link
        text-decoration: none
        font-size: 17px
        text-transform: uppercase
        color: #ffffff
    &-button
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: transparent
        border: none
        border-right: 1px solid rgba(#510bba, 0.1)
        border-left: 1px solid rgba(#510bba, 0.1)
        height: 80px
        width: 70px
        &_line
            display: block
            width: 20px
            height: 3px
            background: #89a9eb
            margin: 3px 0

.logo
    &__text
        display: block
        margin-bottom: 5px
        font-size: 18px
        text-transform: uppercase
        +bold
       
    &__description
        display: block
        font-size: 14px
        color: $text-color-light
@media (max-width: 991px)
    .navbar
        &__mobile, &__landline
            display: none
@media (max-width: 576px)
    .logo
        display: none
    .menu
        top: 60px 
        // transform: translateY(0)
        &-button
            height: 60px
        &__nav
            flex-direction: column
        &__link
            margin-bottom: 20px
            