.offer
    padding: 129px 0
    &-block
        background: #fff url('../img/offer/form-bg.png') no-repeat center right
        background-size: contain
        box-shadow: 0px 15px 25px 0 rgba(0, 0, 0, 0.1)
        padding: 80px
        margin-top: -200px
    &__title
        font-size: 25px
        text-transform: uppercase
        +bold
        margin-bottom: 20px
    &__subtitle
        display: block
        font-size: 21px
        margin-bottom: 48px
.form
    &__row 
        display: flex
        justify-content: 
        align-items: center
        max-width: 900px
        margin-bottom: 25px
        &:last-child
            margin-bottom: 0
    &__label
        display: block
        font-size: 17px
        margin-bottom: 15px
    &__group
        flex-basis: 33.3%
    &__input
        width: 100%
        border-right-width: 0px
        &:last-child
            border-right-width: 1px
    &__button
        height: 80px
        width: 100%
@media ( max-width: 1199px )
    .offer
        &-block
            background-position: center right -120px
@media ( max-width: 768px )
        .offer
            &-block
                background: none
                background-color: #fff
                padding: 40px
            &__title
                font-size: 20px
            &__subtitle
                font-size: 15px
        .form
            &__row
                flex-direction: column
                &-checkbox
                    flex-direction: row
            &__group
                flex-basis: 100%
                width: 100%
            &_input
                margin-bottom: 20px
@media ( max-width: 480px )
        .form
            &__row
                &-checkbox
                    flex-direction: column
                    align-items: flex-start
            &__checkbox
                margin-bottom: 20px


