.price
    &-block
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        &__card
            margin-bottom: 10px
    &-card
        background-color: #fff
        position: relative
        &__text
            padding: 20px
            font-size: 15px
        &__title
            margin: 0
            font-weight: 400
        &__cost
            +bold
        &__pricetag
            display: flex
            justify-content: space-between
        &__button
            text-align: center
            position: absolute
            z-index: -1
            bottom: 0
            left: 0
            width: 100%
            box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.1)
            background-color: #fff
            height: 80px
            padding: 20px
            padding-top: 0
        &:hover
            .price-card__button
                z-index: 99
                bottom: -80px
@media (max-width: 1199px)
    .price
        &-block
            justify-content: center
            &__card
                margin: 20px
@media (max-width: 400px)
    .price
        &-block
            &__card
                margin: 10px